*{
	margin: 0;
	padding: 0;
}
.header__customer{
	width: calc(100%);
}
.first__header{
	height: 35px;
	width: 100%;
	background-color: #0092d1;
}
.first__title{
	color: white;
	font-size: 23px;
	text-decoration:none;
	position: absolute;
    top: 3px;
    left: 60px;
}
.second__title{
	color: white;
	font-size: 15px;
	text-decoration:none;
	position: absolute;
    top: 7px;
    right: 90px;
}
.third__image{
	height: 28px;
	width: auto;
	position: absolute;
	top: 5px;
	right: 15px;
}

.second__header{
	width: 100%;
	height: 200px;
	display: flex;
}
.left__image{
	width: 15%;
	height: 200px;
}
.right__menu{
	width: 85%;
	height: 200px;
	position: relative;
}
.right__menu:before{
	width: 100%;
	height: 200px;
	content: '';
	background-image: url('/image/truong-dai-hoc-ngoai-ngu.png');
	background-size: cover;
	background-position: center;
    opacity: .6;
    z-index: -1;
    position: absolute;
}

.button__menu{
	position: absolute;
	top: 50px;
	left: 50px;
	height: 100px;
	opacity: 1;
	display: inline-flex;
}
.ul__cus{
	display: inline-flex;
}
.btn-item{
	background-color: #0092d1;
	color: white;
	font-size: 13px;
	width: 135px;
	height: 30px;
	margin-right: 15px;
	border-radius: 10px;
	text-align: center;
	padding-top: 5px;
	font-weight: 600;
}
.btn-item:hover{
	cursor: pointer;
	background-color: darkcyan;
	transition: 1.2s;
}

#btn-search{
	position: absolute;
	bottom: 3px;
	right: 15px;
	border: none;
	background-color: white;

}

.search__menu{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#input__search{
	width: 500px;
	border-radius: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: darkcyan;
}

.dropdown-content a {
	height: 40px;
	font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
	color: white;
	background-color: #0092d1;
}
.dropdown:hover .dropdown-content {
  display: block;
}